h1 {
    text-align: center;
    font-size: 30px;
}

.sections{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.galeria1 {
    width: 90%;
    max-width: 1010px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 50px;
}

.galeria1 img {
    width: 300px;
    margin: 10px;
}

.galeria2 {
    width:40%;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-bottom: 50px;
}

.galeria2 .texto{
    margin-right: 20px;
}

.galeria2 img {
    width: 400px;
    order: 1;
}


.galeria3 {
    width:40%;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-bottom: 50px;
}

.galeria3 .texto{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.galeria3 img {
    width: 400px;
    order: -1;
    margin-right: 40px;
}

.galeria4 {
    width:40%;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-bottom: 50px;
}

.galeria4 .texto{
    margin-right: 20px;
    display: flex;
    flex-direction: column;

}

.galeria4 img {
    width: 400px;
    order: 1;
}


/* Responsive */
/* Tamaño tablet */
@media screen and (min-width: 501px) and (max-width: 800px) {
    .galeria1 {
        justify-content: center;
        gap: 20px;
    }

}

/* Tamaño móvil */
@media screen and (max-width: 500px) {
    .galeria2{
        flex-direction: column;
    }
}