h1 {
  position: relative;
  padding-bottom: 10px; 
  margin-bottom: 30px;
}

h1::after {
  content: '';
  display: block;
  width: 150px; 
  height: 3px;
  background-color: #e30713; 
  position: absolute;
  left: 0;
  bottom: 0;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 10px; 
}

.galeria img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}