input:first-of-type {
    background-color: green;
}

input:nth-of-type(2) {
    background-color: red;
}


input:first-of-type:hover{
    background-color: blanchedalmond;
    cursor: pointer;
}

input:first-of-type:focus{
    background-color: rgb(144, 170, 255);
    cursor: pointer;
}

input:nth-of-type(2):hover{
    background-color: turquoise;
}


input[type="radio"]:checked + label{
    font-style: italic;
}

input[type="checkbox"]:checked + label{
    background-color: yellow;
    font-weight: bolder;
}