* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    height: 100vh;
    display: grid;
    gap: 2em;
    align-content: center;
    justify-content: center;
    padding: 2em 0;
}

.button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    background-color: #673ab7;
    color: white;
    padding: 13px 30px;
    border-radius: 50px;
    overflow: hidden;
}

.button--opacity::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: clip-path 0.3s ease;
    clip-path: circle(0 at center);
}

.button--opacity:hover::before {
    transition: clip-path 0.3s ease;
    clip-path: circle(100% at center);
}

.button--bg {
    background-color: white;
    color: #673ab7;
}

.button--bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #673ab7;
    width: 100%;
    height: 100%;
    transition: clip-path 0.3s ease;
    clip-path: circle(0 at top left);
}

.button--bg:hover::before {
    transition: clip-path 0.3s ease;
    clip-path: circle(150% at top left)
}

.button--bg:hover {
    color: white;
}

.button__text {
    position: relative;
    z-index: 1;
}

.link {
    text-align: center;
    display: inline-block;
    color: #673ab7;
    text-decoration: none;
    font-size: 1.5rem;
}

.link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 10px;
    background-color: #673ab7;
    transition: clip-path 0.5s ease;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.link:hover::after {
    transition: clip-path 0.5s ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}