body{
    counter-reset: capitulo;

}

h1{
    color: midnightblue;
    text-align: center;
}

h2::before{
    counter-increment: capitulo;
    content: "Capítulo " counter(capitulo) ". ";
    color: blue;
}

h2{
    color: midnightblue;
    counter-reset: numero2;
}

h3::before{
    counter-increment: numero2;
    content: counter(capitulo) "." counter(numero2) " - ";
}

h3 {
    counter-reset: numero3;
}

h4::before{
    counter-increment: numero3;
    content: counter(capitulo) "." counter(numero2) "." counter(numero3) " - ";
}