body {
    counter-reset: numero_unidad;
}

h2::before {
    counter-increment: numero_unidad;
    content: "Unidad " counter(numero_unidad, upper-roman) ": ";
    color: blue;
}

h2{
    color: midnightblue;
}

section {
    counter-reset: letra;
}

h3::before {
    counter-increment: letra;
    content: counter(letra, lower-alpha) ") ";
}

