* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor {
    width: 300px;
    margin: 40px auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
    position: relative;
    overflow: hidden;
}

.contenedor img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

.hover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 78, 165, 0.8);   
    color: white;
    text-align: center;
    padding: 20px 0;
    transform: translate(100%, 100%) rotate(180deg);
    transition: transform 1s;
}

h1 {
    margin-bottom: 40px;
}

.contenedor:hover .hover{
    transition: transform 1s;
    transform: translate(0) rotate(0);
}

.contenedor:hover img {
    transition: transform 1s;
    transform: scale(1.3);
}