* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

h2::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: slateblue;
    display: block;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.gallery {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "bosque ciudad mezquita"
        "nieve triangulos agua";
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.img-box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: slateblue;
    opacity: 0.5;
    transform: translateY(100%);
    transition: 0.5s;
    pointer-events: none;
}

.img-box:hover::after {
    transform: translateY(0%);
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

    transform: translateX(100%);
    transition: transform 0.5s ease;

    visibility: hidden;
}


.lightbox:target {
    transform: translateX(0);
    visibility: visible;
}


.lightbox-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
}


.lightbox-content img {
    max-width: 100%;
    max-height: 80vh;


    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: -30px;
    right: -20px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background: crimson;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

#bosque {
    grid-area: "bosque";
}

#ciudad {
    grid-area: "ciudad";
}

#mezquita {
    grid-area: "mezquita";
}

#nieve {
    grid-area: "nieve";
}

#triangulos {
    grid-area: "triangulos";
}

#agua {
    grid-area: "agua";
}