div{
    width: 130px;
    height: 65px;
    background-color: gainsboro;
    display: inline-block;
    margin-left: 50px;
    text-align: center;
    
}

div p{
    font-size: 20px;
    margin: 20px auto;
    color: grey;
}

div:first-of-type {
    box-shadow: -5px -5px 0 red;
}

div:nth-of-type(2){
    box-shadow: -5px -5px 5px blue;
}

div:nth-of-type(3){
    box-shadow: -7px -7px 0 7px green;
}

div:nth-of-type(4){
    box-shadow: -5px -5px 5px 4px rgb(46, 130, 255);
}

div:nth-of-type(5){
    box-shadow: 0px 0px 5px 2px mediumorchid;
}

div:nth-of-type(6){
    box-shadow: 0px 0px 5px 5px yellow;
}

div:nth-of-type(7){
    box-shadow: -4px -4px 0 0 purple inset;
}

div:nth-of-type(8){
    box-shadow: -4px -4px 5px 0 turquoise inset;
}

div:nth-of-type(9){
    box-shadow: -8px -8px 0 0 mediumvioletred inset;
}

div:nth-of-type(10){
    box-shadow: -5px -5px 5px 4px green inset;
}

div:nth-of-type(11){
    box-shadow: 0px 0px 3px 1px midnightblue inset;
}

div:nth-of-type(12){
    box-shadow: 0px 0px 5px 4px grey inset;
}