section{
    width: auto;
    height: 700px;
    border: 2px solid black;
    padding: 5px;
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: space;
    align-items: flex-start;
    /*align-content: center;*/

}

.cajas{
    border: 4px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px;
    margin: 10px;
}

.red{
    background-color: red;
    /*flex-grow: 3;*/
    order: 1;
    align-self: center;
}

.blue{
    background-color: blue;
    /*height: 150px;
    line-height: 150px;*/
    /*flex-grow: 2;*/
}

.yellow{
    background-color: yellow;
    /*flex-basis: 200px;*/
    /*height: 200px;*/
    order: 3;
}

.green{
    background-color: green;
    /*height: 300px;
    line-height: 300px;*/
    /*flex-grow: 1;*/
    order: -1;
    align-self: flex-end;
}