:root {
    --main-blue: #2563eb;
    /* Royal Blue */
    --darker-blue: #1e40af;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.main-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.blue-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--darker-blue);
    clip-path: polygon(35% 0, 100% 0%, 100% 100%, 0% 100%);
    z-index: -1;
}

.form-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 5%;
}

.form-title {
    text-align: center;
    margin-bottom: 40px;
    color: #000;
    position: relative;
}

.form-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--darker-blue);
    margin-left: 110px;
}

.contact-form {
    width: 100%;
}

.input-field {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 10px;
    height: 45px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.message-box {
    height: 150px;
    resize: none;
    font-family: sans-serif;
}

.submit-btn {
    display: block;
    width: 150px;
    height: 50px;
    background-color: var(--darker-blue);
    border: 2px solid #172554;
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.visual-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visual-section img {
    width: 80%;
    height: auto;
    object-fit: contain;
}